@model CompanyDetailsViewModel
@{
    ViewBag.Title = "Контакти";
}
<div class="container-contacts">
    <p>Назва компанії: @CompanyInfo.Name</p>
    <p>Email: @CompanyInfo.Email</p>
    <p>Телефон: @CompanyInfo.Phone</p>
    <p>Країна: @CompanyInfo.Country</p>
    <p>Місто: @CompanyInfo.City</p>
    <p>Адреса: @CompanyInfo.Address</p>
</div>
